PORT=3000

JWT_SECRET=Vrmc7IbCOuLKfI48UdDsLpdvG+U3tsxJGqbHrPa9yl8=
# openssl rand -base64 32
# means:

# "Generate 32 bytes of cryptographically random data and display it in a Base64 format that I can easily copy."

# JWT_SECRET
#      ↓
# Private secret known by the server
#      ↓
# Used to CREATE and VERIFY tokens


# JWT TOKEN
#      ↓
# Created after successful signin
#      ↓
# Sent to the client
#      ↓
# Client sends it back as:
# Authorization: Bearer TOKEN

#                  YOUR SERVER
#                     │
#                  JWT_SECRET
#                     │
#        ┌────────────┴────────────┐
#        ↓                         ↓
#   CREATE TOKEN              VERIFY TOKEN
#    jwt.sign()                jwt.verify()
#        │                         │
#        └────────── JWT ──────────┘